<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>WALKANTE Aviso Legal</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <figure class="logo">
            <img src="../images/logo.png" alt="Logo WALKANTE" title="Logo WALKANTE" height="100" width="150">
        </figure> 
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Galería</a></li>
                <li><a href="presupuesto.html">Presupuestos</a></li>
                <li><a href="contacto.html" class="active">Contacto</a></li>
            </ul>
        </nav>       
    </header>
    <main>
        <section>
            <!--Se establece el aviso legal del sitio web-->
            <div class="titulo">
                <h2>Aviso legal de WALKANTE</h2>
            </div>
            <div class="parrafo">
                <p>
                    El sitio web de WALKANTE proporciona información y productos relacionados con tablas de surf y 
                    otros accesorios deportivos. Todo el contenido presente en esta página, incluyendo textos, imágenes 
                    y logotipos, es propiedad de Wakante y está protegido por las leyes de propiedad intelectual. El uso
                    indebido, reproducción o distribución sin autorización expresa está prohibido. Wakante no se hace 
                    responsable de los daños o perjuicios derivados del mal uso de la información o productos ofrecidos 
                    en el sitio. Al utilizar esta página web, el usuario acepta estos términos y condiciones.
                </p>
            </div>
            <div class="boton-inicio">
                <a href="../index.html" class="button-link">Volver a página de inicio</a>
            </div>
        </section>
    </main>
    <footer>
        <p>Nos encontramos en: Calle del Teatro, 28, Alicante</p>
        <p>Redes Sociales:</p>
        <a href="https://facebook.com" target="_blank"><img src="../images/facebook.png" alt="Facebook" height="30" width="30"></a>
        <a href="https://x.com" target="_blank"><img src="../images/x.png" alt="X" height="30" width="30"></a>
        <a href="https://instagram.com" target="_blank"><img src="../images/instagram.png" alt="Instagram" height="30" width="30"></a>
        <p><a href="aviso_legal.html">Aviso legal</a></p>
    </footer>
</body>
</html>