<!DOCTYPE html>
<html lang= "es">
<head>
    <meta charset="utf-8">
    <title>WALKANTE Formulario correcto</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <figure class="logo">
            <img src="../images/logo.png" alt="Logo WALKANTE" title="Logo WALKANTE" height="100" width="150">
        </figure>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Galería</a></li>
                <li><a href="presupuesto.html">Presupuestos</a></li>
                <li><a href="contacto.html" class="active">Contacto</a></li>
            </ul>
        </nav>    
    </header>
    <main>
        <section>
            <!--Se indica que el formulario ha sido 'enviado'-->
            <div class="titulo">
                <h2>Consulta realizada correctamente</h2>
            </div>
            <div class="parrafo">
                <p>
                    Hemos recibido su consulta, en breve nos pondremos en contacto para proporcionarle una respuesta. 
                </p>
            </div>
            <div class="boton-inicio">
                <a href="../index.html" class="button-link">Volver a página de inicio</a>
            </div>            
        </section>
    </main>
    <footer>
        <p>Nos encontramos en: Calle del Teatro, 28, Alicante</p>
        <p>Redes Sociales:</p>
        <a href="https://facebook.com" target="_blank"><img src="../images/facebook.png" alt="Facebook" height="30" width="30"></a>
        <a href="https://x.com" target="_blank"><img src="../images/x.png" alt="X" height="30" width="30"></a>
        <a href="https://instagram.com" target="_blank"><img src="../images/instagram.png" alt="Instagram" height="30" width="30"></a>
        <p><a href="aviso_legal.html">Aviso legal</a></p>
    </footer>
</body>
</html>