<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>WALKANTE Galeria</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <figure class="logo">
            <img src="../images/logo.png" alt="Logo WALKANTE" title="Logo WALKANTE" height="100" width="150">
        </figure>
        <nav>
            <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="productos.html" class="active">Galería</a></li>
            <li><a href="presupuesto.html">Presupuestos</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div class="titulo">
                <h1>Galería de productos</h1>
                <p>Colección de tablas</p>
            </div>
            <!--Se crea la galeria de los productos-->
            <div class="gallery">
                <figure>
                    <img src="../images/tabla_1.jpg" alt="Tabla principiantes OHA" title="Tabla principiantes OHA" height="300" width="300"> 
                    <figcaption>Tabla principiantes OHA</figcaption> <!--Para añadir el pie de foto-->
                </figure>
                <figure>
                    <img src="../images/tabla_2.jpg" alt="Tabla mediana LUNA" title="Tabla mediana LUNA" height="300" width="300">
                    <figcaption>Tabla mediana LUNA</figcaption>
                </figure>
                <figure>
                    <img src="../images/tabla_3.jpg" alt="Tabla Fast FISKON" title="Tabla Fast FISKON" height="300" width="300">
                    <figcaption>Tabla Fast FISKON</figcaption>
                </figure>
            </div>
        </section>
    </main>
    <footer>
        <p>Nos encontramos en: Calle del Teatro, 28, Alicante</p>
        <p>Redes Sociales:</p>
        <a href="https://facebook.com" target="_blank"><img src="../images/facebook.png" alt="Facebook" height="30" width="30"></a>
        <a href="https://x.com" target="_blank"><img src="../images/x.png" alt="X" height="30" width="30"></a>
        <a href="https://instagram.com" target="_blank"><img src="../images/instagram.png" alt="Instagram" height="30" width="30"></a>
        <p><a href="aviso_legal.html">Aviso legal</a></p>
    </footer>
</body>
</html>